<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085975922394-vl6uu3jsmlbc2ilems8uatvc414dv9b1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085975922394-vl6uu3jsmlbc2ilems8uatvc414dv9b1</string>
	<key>API_KEY</key>
	<string>AIzaSyCtRZpdifmxqejxKWm2HFPVfVEq2V9GVe0</string>
	<key>GCM_SENDER_ID</key>
	<string>1085975922394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AlanCao.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-10759</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-10759.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085975922394:ios:24c53e488d64d3e998c7e3</string>
	<key>DATABASE_URL</key>
	<string>https://twitterclone-10759.firebaseio.com</string>
</dict>
</plist>